extends layout

block content
    h1= title
    .container-fluid
        p
            | #{title} - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim felis sem, sollicitudin tristique sem sodales sit amet. Mauris luctus a tortor non molestie.
        br
        div
            a(href="http://localhost:3000/") Go to Main page.


    