extends layout

block content
    each val in newsDocument
        h1= val.title
        .container-fluid
            p
                | #{val.content}
            br
            div
                a(href="http://localhost:3000/") Go to Main page.


    